* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.App {
  display: grid;
  grid-template-columns: 550px 1fr;
  height: 100dvh;
}
button {
  cursor: pointer;
}
