.slide {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: grid;

  img {
    margin: -10px 0px 0px -180px;
  }
  video {
    margin: -10px 0px 0px -200px;
  }
  * {
    visibility: hidden;
    grid-area: 1/1;
    opacity: 0;
    transition: 0.3s ease-in-out;
  }
  .gwen {
    margin: -10px 0px 0px -350px;
  }
  .active {
    opacity: 1;
    visibility: visible;
  }
}
